.mainButton {
  background: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 56px;
  text-align: center;
  width: 163px;
  position: absolute;
  top: 58px;
}

.aboutMeButton {
  top: 58px;
  left: 684px;
}

.mediumButton {
  right: 16px;
  left: 870px;
}
