@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rhodium+Libre&display=swap');

.aboutMeButton {
  float: right;
  top: 0px;
  left: 384px;
}

.mediumButton {
  float: right;
  right: 0px;
  left: 870px;
}
