.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9)
    ),
    url('../../images/background.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  width: 100vw;
  height: 80px;
}

.buttonsContainer {
  position: absolute;
  display: flex;
  right: 0;
  margin-top: 25px;
  margin-right: 65px;
}
