.section__download-cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button__download-cv {
  border: none;
  width: 70px;
  text-align: center;
}

.label__download-cv {
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Rhodium Libre', serif;
  color: black;
  cursor: pointer;
}

a :hover {
  color: blue;
}
