/* Desktop */
@media screen and (min-width: 769px) {
  .main__home {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .spacer {
    flex-grow: 1;
  }

  .section__main--home-page {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 412px;
  }

  .nav__latest-posts {
    padding: 1rem;
    background-color: #1f2833;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    border: 1px solid #66fcf1;
  }

  .nav__latest-posts-title {
    font-weight: bold;
    color: white;
  }

  .section__title {
    width: 382px;
    height: 405px;
    margin-top: 100px;
    margin-left: 105px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    letter-spacing: 0.1em;
    line-height: 61px;
    color: #66fcf1;
    font-size: 36px;
  }

  .container__contact-me {
    margin-top: 10px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .main__home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__main--home-page {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .container__contact-me {
    margin-top: 0px;
  }

  .nav__latest-posts {
    padding: 1rem;
    background-color: #1f2833;
    border: 1px solid #66fcf1;
    margin: 1rem auto;
    width: 50rem;
    max-width: 95%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
  }

  .nav__latest-posts-title {
    font-weight: bold;
    font-size: 22px;
    color: white;
  }
}
