@media screen and (min-width: 769px) {
  .main__read-my-story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    max-width: 960px;
    margin-left: 150px;
    color: white;
  }

  .title__how-started {
    margin-top: 45px;
    font-size: 38px;
    text-align: center;
  }

  .text__how-started {
    font-size: 22px;
    margin-top: 15px;
    text-align: justify;
  }

  .p__big-day {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
  }

  .p__end {
    font-style: italic;
    margin-top: 10px;
    font-size: 24px;
  }

  .img__container {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 2rem;
    align-items: center;
  }

  .img__vertical {
    width: 320px;
    height: auto;
  }

  .img__text {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
  }

  .img__horizontal {
    width: 480px;
    height: auto;
  }

  .img__container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .img__container-row__with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img__container-warehouse {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 2rem;
    align-items: center;
  }

  .img__regent {
    width: 380px;
    height: auto;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .main__read-my-story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  .title__how-started {
    margin-top: 5px;
    font-size: 30px;
    text-align: justify;
    text-align: center;
  }

  .text__how-started {
    font-size: 20px;
    margin-top: 5px;
    text-align: justify;
  }

  .p__big-day {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
  }

  .p__end {
    font-style: italic;
    margin-top: 10px;
  }

  .img__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: none;
    align-items: center;
  }

  .img__vertical {
    width: 280px;
    height: auto;
  }

  .img__text {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
  }

  .img__horizontal {
    width: 280px;
    height: auto;
  }

  .img__container-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .img__container-row__with-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .img__container-warehouse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: none;
    align-items: center;
  }

  .img__regent {
    width: 280px;
    height: auto;
  }
}
