.home {
  background-color: lightslategrey;
  height: 100vh;
  width: 100vw;
}

.titleContainer {
  margin-left: 5vw;
  margin-right: 64vw;
  margin-top: 2vh;
  display: block;
  width: 300px;
  height: 570px;
  left: 70px;
  top: 58px;
  font-size: 36px;
  font-family: 'Rhodium Libre', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 62px;
  letter-spacing: 0.23em;
  position: absolute;
  color: #000000;
}
