@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rhodium+Libre&display=swap');

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9)
    ),
    url('../../images/background.jpeg');
  background-repeat: no-repeat;
  background-size: 200vh 100vh;
  background-color: transparent;
}

.main {
  display: flex;
  flex-direction: row;
}

/* .header {
  width: 100vw;
  height: 80px;
} */

.buttonsContainer {
  position: absolute;
  display: flex;
  right: 0;
  margin-top: 25px;
  margin-right: 65px;
}

.spacer {
  flex-grow: 1;
}

.titleContainer {
  width: 382px;
  height: 405px;
  margin-top: 100px;
  margin-left: 105px;
  font-family: 'Rhodium Libre', serif;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 61px;
  color: #000000;
  font-size: 36px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 412px;
}
