/* Desktop */
@media screen and (min-width: 769px) {
  .form-container__contact {
    padding: 1rem;
    background-color: #1f2833;
    margin: 2rem auto;
    width: 412px;
    width: 50rem;
    max-width: 95%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #66fcf1;
  }

  .text-field {
    padding: 10px;
    font-size: 14px;
    background-color: whitesmoke;
    resize: none;
    border-width: 0px;
  }

  textarea:focus,
  input:focus {
    outline: none;
    border: 1px solid;
    border-color: grey;
  }

  .textarea__message {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 105.8px;
    font-size: 14px;
    width: 366px;
  }

  .input__contact-field {
    height: 40px;
    width: 366px;
  }

  .input__contact-field--email {
    margin-top: 15px;
  }

  ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    padding-top: 5px;
    text-align: center;
  }

  .text__error {
    font-size: 14px;
    color: red;
  }

  .text__success {
    font-size: 14px;
    color: rgb(24, 248, 24);
    border-width: 0;
  }

  .invalid {
    border-width: 1px;
    border-color: red;
  }

  .valid {
    border-width: 0px;
  }

  .form-contact-me__title {
    color: white;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .form-container__contact {
    padding: 1rem;
    background-color: #1f2833;
    margin: 2rem auto;
    width: 412px;
    width: 50rem;
    max-width: 95%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #66fcf1;
  }

  .text-field {
    padding: 10px;
    font-size: 12px;
    background-color: whitesmoke;
    resize: none;
    border-width: 0px;
  }

  textarea:focus,
  input:focus {
    outline: none;
    border: 1px solid;
    border-color: grey;
  }

  .textarea__message {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 105.8px;
    font-size: 12px;
    width: 250px;
  }

  .input__contact-field {
    height: 40px;
    width: 250px;
  }

  .input__contact-field--email {
    margin-top: 15px;
  }

  ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 23px;
    padding-top: 5px;
    text-align: center;
  }

  .text__error {
    font-size: 12px;
    color: red;
  }

  .text__success {
    font-size: 12px;
    color: rgb(24, 248, 24);
    border-width: 0;
  }

  .invalid {
    border-width: 1px;
    border-color: red;
  }

  .valid {
    border-width: 0px;
  }

  .form-contact-me__title {
    font-size: 22px;
    color: white;
  }
}
