@media screen and (min-width: 769px) {
  .link-tem {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .link-tem {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    cursor: pointer;
  }
}
