.main__about-me {
  display: flex;
  flex-direction: row;
  font-family: 'Rhodium Libre', serif;
  height: 100vh;
  width: 100%;
}

.section__introduction {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.section__title--about-me {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 300px;
}

.title__about-me {
  font-size: 36px;
  text-align: right;
}

.aside__about-me {
  font-size: 18px;
  margin-bottom: 24px;
}

.section__portfolio-picture {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.img__portfolio-picture {
  width: 180px;
  height: 235px;
}

.section__about-me__main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.aside__text__main-about-me {
  margin-bottom: 20px;
}

.button__more-about-me {
}
