/* Desktop */
@media screen and (min-width: 769px) {
  .main__about-me {
    display: flex;
    flex-direction: row;
    font-family: 'Rhodium Libre', serif;
    height: 100vh;
    width: 100%;
  }

  .section__introduction {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }

  .section__title--about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 300px;
  }

  .title__about-me {
    font-size: 36px;
    text-align: right;
  }

  .aside__about-me {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .section__portfolio-picture {
    display: flex;
    flex-direction: row;
    width: 700px;
  }

  .img__portfolio-picture {
    width: 180px;
    height: 235px;
  }

  .section__about-me__main {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .aside__text__main-about-me {
    margin-bottom: 20px;
    text-align: justify;
  }

  .buttons__more {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button__read-my-story {
    font-size: 18px;
    width: 250px;
    margin-bottom: 15px;
  }

  .button__more-about-me {
    font-size: 18px;
    width: 250px;
  }

  .chart__role {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .cart-header {
    font-size: 30px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .main__about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Rhodium Libre', serif;
    height: 100vh;
    width: 100%;
    text-align: center;
    width: 95%;
  }

  .section__title--about-me {
    margin-bottom: 5px;
  }

  .title__about-me {
    font-size: 22px;
  }

  .aside__about-me {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .section__portfolio-picture {
    margin-left: 10px;
  }

  .img__portfolio-picture {
    width: 114px;
    height: 164x;
    margin-bottom: 10px;
  }

  .aside__text__main-about-me {
    font-size: 14px;
    text-align: justify;
  }

  .buttons__more {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button__read-my-story {
    font-size: 15px;
    width: 200px;
    margin-bottom: 5px;
  }

  .button__more-about-me {
    font-size: 13px;
    width: 200px;
  }
}
