@media screen and (min-width: 769px) {
  .main__read-my-story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Rhodium Libre', serif;
    width: 100%;
    height: 100%;
  }

  .title__how-started {
    margin-top: 45px;
    font-size: 36px;
    text-align: center;
  }

  .text__how-started {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 65px;
    text-align: justify;
  }

  .p__big-day {
    font-weight: bold;
  }

  .p__end {
    font-style: italic;
  }
}
