@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rhodium+Libre&display=swap');

.contactFormContainer {
  padding: 1rem;
  background-color: rgb(202, 202, 202);
  margin: 2rem auto;
  width: 412px;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  font-family: 'Rhodium Libre', serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.contactMessage {
  margin-top: 1px;
  margin-bottom: 3px;
  height: 105.8px;
  font-size: 14px;
  width: 366px;
}

.contactField {
  height: 40px;
  padding: 20px;
  font-size: 14px;
  width: 366px;
}

.email {
  margin-bottom: 3px;
  margin-top: 5px;
}

.name {
  margin-top: 2px;
}

::placeholder {
  font-family: 'Rhodium Libre', serif;
  font-size: 14px;
  line-height: 23px;
  opacity: 50%;
  padding-top: 3px;
  padding-left: 15px;
  text-align: left;
}
