/* Desktop  */
@media screen and (min-width: 769px) {
  .app-blog-page {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100%;
    background-color: #1f2833;
  }

  .header {
    width: 100vw;
    height: 95px;
  }

  .nav__buttons {
    position: absolute;
    display: flex;
    right: 0;
    margin-top: 25px;
    margin-right: 50px;
  }

  .button__about-me {
    margin-right: 11px;
  }

  .header__dropdown {
    margin-left: 11px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .app-blog-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: none;
    overflow: auto;
    background-color: #1f2833;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-bottom: 10px;
    margin-left: 25px;
  }

  .nav__buttons {
    margin-top: 25px;
    width: 300px;
  }

  .button__about-me {
    margin-right: 11px;
  }

  .header__dropdown {
    margin-left: 11px;
  }
}
