/* Desktop  */
@media screen and (min-width: 769px) {
  .header-dropdown__container {
    position: relative;
  }

  .header-dropdown__menu {
    position: absolute;
    width: 300px;
    background-color: #e9e9e9;
    color: #1f2833;
    border-bottom: 1px solid #66fcf1;
    border-left: 1px solid #66fcf1;
    border-right: 1px solid #66fcf1;
    font-family: 'Roboto', sans-serif;
  }

  .header-dropdown__menu:hover {
    text-decoration: underline;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .header-dropdown__container {
    position: relative;
  }

  .header-dropdown__menu {
    position: absolute;
    width: 220px;
    font-size: 20px;
    background-color: #e9e9e9;
    color: #1f2833;
    border-bottom: 1px solid #66fcf1;
    border-left: 1px solid #66fcf1;
    border-right: 1px solid #66fcf1;
    font-family: 'Roboto', sans-serif;
  }

  .header-dropdown__menu:hover {
    text-decoration: underline;
  }
}
