/* Desktop */
@media screen and (min-width: 769px) {
  .main__about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: white;
  }

  .section__introduction {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 150px;
  }

  .section__title--about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 340px;
  }

  .title__about-me {
    font-size: 40px;
  }

  .aside__about-me {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .section__portfolio-picture {
    display: flex;
    flex-direction: row;
    width: 1000px;
  }

  .img__portfolio-picture {
    width: 240px;
    height: 300px;
  }

  .section__about-me__main {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .text__main-about-me {
    margin-bottom: 24px;
    text-align: justify;
    font-size: 24px;
  }

  .buttons__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .button__read-my-story {
    font-size: 18px;
    width: 250px;
    margin-bottom: 25px;
  }

  .button__code-challenge {
    font-size: 18px;
    width: 250px;
    margin-bottom: 25px;
  }

  .button__more-about-me {
    font-size: 18px;
    width: 250px;
  }

  .section__skills-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }

  .space__before-skills-title {
    margin-bottom: 50px;
  }

  .sub-title__about-me {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
  }

  .section__skills-description {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .list {
    font-size: 24px;
  }

  .soft-skills {
    margin-right: 45px;
  }

  .soft-skills li::marker {
    content: '► ';
    color: #66fcf1;
  }

  .hard-skills li::marker {
    content: '► ';
    color: white;
  }

  .section__random-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .random-facts-description {
    margin-top: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .main__about-me {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 20px;
    width: 95%;
    color: white;
  }

  .section__title--about-me {
    margin-bottom: 5px;
    text-align: center;
  }

  .title__about-me {
    font-size: 27px;
  }

  .aside__about-me {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .section__portfolio-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img__portfolio-picture {
    width: 200px;
    height: 260px;
    margin-bottom: 10px;
    float: none;
  }

  .section__about-me__main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .text__main-about-me {
    font-size: 20px;
    text-align: justify;
  }

  .buttons__more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .button__read-my-story {
    font-size: 20px;
    width: 200px;
    margin-bottom: 10px;
  }

  .button__code-challenge {
    font-size: 15px;
    width: 200px;
    margin-bottom: 10px;
  }

  .section__skills-chart {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .section__skills-description {
    display: flex;
    flex-direction: row;
  }

  .sub-title__about-me {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
  }

  .list {
    font-size: 18px;
  }

  .soft-skills {
    margin-right: 10px;
  }

  .soft-skills li::marker {
    content: '► ';
    color: #66fcf1;
  }

  .hard-skills li::marker {
    content: '► ';
    color: white;
  }

  .section__random-facts {
    display: flex;
    flex-direction: column;
  }

  .random-facts-description {
    margin-top: 10px;
  }
}
