@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rhodium+Libre&display=swap');

.contactFormContainer {
  padding: 1rem;
  background-color: rgb(202, 202, 202);
  margin: 2rem auto;
  width: 412px;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  font-family: 'Rhodium Libre', serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.input {
  padding: 10px;
  font-size: 14px;
  border-radius: 12px;
  background-color: whitesmoke;
  resize: none;
}

.message {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 105.8px;
  font-size: 14px;
  width: 366px;
}

.contactField {
  height: 40px;
  width: 366px;
}

.email {
  margin-top: 15px;
}

::placeholder {
  font-family: 'Rhodium Libre', serif;
  font-size: 14px;
  line-height: 23px;
  /* opacity: 50%; */
  padding-top: 5px;
  text-align: center;
}

.error {
  font-size: 14px;
  color: red;
}

.successMessage {
  font-size: 14px;
  color: green;
  border-width: 0;
}

.errorBorder {
  border-width: 1px;
  border-color: red;
}

.successBorder {
  border-width: 0px;
}
