@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rhodium+Libre&display=swap');

.contactFormContainer {
  padding: 1rem;
  background-color: rgb(202, 202, 202);
  margin: 2rem auto;
  width: 412px;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  font-family: 'Rhodium Libre', serif;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.message {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 105.8px;
  font-size: 14px;
  width: 366px;
  border-radius: 12px;
  border-width: 0;
  resize: none;
}

.contactField {
  height: 40px;
  padding: 20px;
  font-size: 14px;
  width: 366px;
  border-width: 0;
}

.email {
  margin-top: 10px;
}

::placeholder {
  font-family: 'Rhodium Libre', serif;
  font-size: 14px;
  line-height: 23px;
  opacity: 50%;
  padding-top: 5px;
  text-align: center;
}

p {
  font-size: 14px;
  color: red;
  font-weight: lighter;
  margin-top: 5px;
}
